<div>

    <h1>Music Explorer</h1>

    <div class="search_container">
        <h3>Search: </h3>
        <search></search>
    </div>

    <ul class="tabs_container">
        <li><a href="javascript:void(0);" ng-click="activeTab('top-tracks');">Top Tracks</a></li>
        <li><a href="javascript:void(0);" ng-click="activeTab('cover-art');">Top Track's Cover Art</a></li>
        <li><a href="javascript:void(0);" ng-click="activeTab('all-albums');">All Albums</a></li>
    </ul>

    <div class="tabs_content" ng-if="selectedTab === 'top-tracks' && !isLoading()">

        <h3>{{artistName}}'s Top Tracks</h3>
        <ul>
            <li ng-repeat="track in topTracksList track by $index">
                <song-player
                    track-name="{{track.name}}"
                    track-streaming="{{track.preview_url}}"
                    track-duration="{{track.duration_ms}}"
                    album-name="{{track.album.name}}"
                    album-image="{{getAlbumImage(track.album.images)}}"
                ></song-player>
            </li>
        </ul>
        <span ng-if="topTracksList.length===0">No data</span>

    </div>

    <div class="tabs_content cover_art" ng-if="selectedTab === 'cover-art' && !isLoading()">
        <h3>Top Tracks Albums's Cover Art</h3>
        <ul>
            <li ng-repeat="album in relatedAlbums track by $index">
                <img ng-src="{{getAlbumImage(album.images, 640)}}" />
            </li>
        </ul>
        <span ng-if="relatedAlbums.length===0">No data</span>
    </div>

    <div class="tabs_content albums" ng-if="selectedTab === 'all-albums' && !isLoading()">
        <h3>All Albums</h3>
        <ul>
            <li ng-repeat="item in allAlbumsList track by $index">
                <img ng-src="{{getAlbumImage(item.images, 300)}}" />
            </li>
        </ul>
        <span ng-if="allAlbumsList.length===0">No data</span>
    </div>

    <div ng-show="isLoading()">Loading...</div>

</div>
